@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
html body {
    height: 100%;
    margin: 0;
}
body #root a{
    font-family: 'Raleway', sans-serif;
    color:black!important;
}
.btn-warning{
    color:white!important;
}
